@import './../pages';

@activeEp: #002966 !important;

.mal-sync-active {
  color: #ffffff !important;
}

#malp {
  padding: 0% 2%;
  margin: 1%;
}

#malp * {
  color: black;
  select option {
    color: black;
    background-color: white;
  }
}

body.dark #malp * {
  color: white;
  select option {
    color: white;
    background-color: black;
  }
}
