@import "./../pages";

section.main .content-wrapper .theatre .theatre-info {
  margin-bottom: 1rem;
}

#flashinfo-div {
  z-index: 99999 !important;
}

#malp, #malTotal, #AddMalDiv, #AddMal {
  color: #999 !important;
}
#malStatus, #malUserRating, #malEpisodes {
  background: white !important;
  option {
    background: white !important;
  }
}
#malRating {
  color: #d5015b !important;
}
