@import './../pages';

@boxBackground: rgba(12, 10, 21, 0.88);
@boxFontColor: rgba(255, 255, 255, 0.85);
@boxBorderRadius: 8px;
@boxHighlightBackground: rgba(255, 186, 222, 0.15);
@boxHighlightFontColor: #ffbade;
@boxLabelFontColor: rgba(255, 255, 255, 0.4);
@boxOptionsBackground: #1a1828;
@boxOptionsFontColor: rgba(255, 255, 255, 0.8);
@boxGap: 6px;

@highlightStyle: 1;
@activeEp: #ffbade;
