.border-radius() {
  border-radius: 10px;
}

/* Shadows */
.box-shadow() {
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.click-move-down() {
  transition: transform @fast-transition ease;

  &:active {
    transition-delay: 0s !important;
    transform: translateY(3px);
  }
}
