@spacer: var(--size-spacer);
@spacer-half: var(--size-spacer-half);

@img-text-spacing: 8px;

/* Aspect ratios */
@aspect-ratio-cover: 225/350;

/* Transitions */
@fast-transition: 0.25s;
@normal-transition: 0.4s;
