@import './../pages';

#malp {
  margin-bottom: 10px;

  #MalData {
    .malp-group > .malp-group-field,
    .malp-group > .malp-group-value-section {
      background-color: #0f0f0f !important;
    }

    .malp-group-label {
      font-size: 14px !important;
    }
  }

  select {
    cursor: pointer !important;
  }
}
