@import './../pages';

@boxBackground: #151515;
@boxHighlightBackground: #ff640a !important;
@boxHighlightFontColor: black;

@highlightStyle: 5;
@activeEp: #57acef;

#malp {
  margin-bottom: 10px;

  #MalData {
    .malp-group-label {
      font-size: 14px !important;
    }
  }

  select {
    cursor: pointer !important;
  }
}
