{
  "env": {
    "es6": true,
    "greasemonkey": true,
    "jquery": true,
    "shared-node-browser": true,
    "webextensions": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "api": "readonly",
    "con": "readonly",
    "j": "readonly",
    "utils": "readonly"
  },
  "ignorePatterns": ["dist/", "node_modules/", "test/dist", "*.min.js"],
  "overrides": [
    {
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/ban-ts-ignore": "warn",
        "@typescript-eslint/camelcase": "warn",
        "@typescript-eslint/class-name-casing": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-this-alias": "warn",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }]
      }
    },
    {
      "extends": ["plugin:vue/vue3-recommended", "@vue/prettier"],
      "files": ["*.vue"],
      "parser": "vue-eslint-parser",
      "plugins": ["vue", "prettier"],
      "rules": {
        "vue/component-tags-order": "off"
      }
    },
    {
      "extends": ["plugin:prettier/recommended"],
      "files": ["*.js"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-extend-native": "off",
    "prefer-template": "error",
    "no-plusplus": "off",
    "no-param-reassign": "warn",
    "no-console": "off",
    "guard-for-in": "off",
    "no-underscore-dangle": "off",
    "radix": ["error", "as-needed"],
    "vars-on-top": "off",
    "class-methods-use-this": "off",
    "no-throw-literal": "off",
    "no-await-in-loop": "off",
    "prefer-destructuring": ["error", {"array": true,"object": true}],
    "import/no-webpack-loader-syntax": "off",
    "new-cap": "warn", //TODO
    "block-scoped-var": "warn", //TODO
    "import/prefer-default-export": "off", //TODO
    "no-var": "off", //TODO
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".vue"]
      }
    }
  }
}
