{
  "env": {
    "es6": true,
    "greasemonkey": true,
    "jquery": true,
    "shared-node-browser": true,
    "webextensions": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended",
    "@vue/prettier"
  ],
  "globals": {
    "api": "readonly",
    "con": "readonly",
    "j": "readonly",
    "utils": "readonly"
  },
  "ignorePatterns": ["dist/", "node_modules/", "test/dist", "*.min.js"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue", "prettier"],
  "root": true,
  "rules": {
    "no-extend-native": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "vue/component-tags-order": "off",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/class-name-casing": "warn",
    "@typescript-eslint/ban-ts-ignore": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/camelcase": "warn", //TEMP
    "@typescript-eslint/explicit-function-return-type": "off", //TEMP
    "no-var": "warn", //TEMP
    "prefer-template": "error",
    "eqeqeq": ["error", "always"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
