language: node_js
node_js:
  - "9"
dist: trusty
sudo: required
addons:
  chrome: stable
cache:
  npm: true
  directories:
  - node_modules
install:
  - npm install
script:
  - npm run build
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then sh ./package/localization/deploy.sh; fi
  - if ! [[ $TRAVIS_TAG ]]; then npm run test:ts; fi
before_deploy:
  - npm run package
  - npm run package:chrome
  - npm run package:firefox
deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  skip_cleanup: true
  file_glob: true
  file:
  - "./dist/mal_sync-*.xpi"
  - "./dist/malsync.user.js"
  - "./dist/malsync-adult.user.js"
  - "./dist/webextension.zip"
  on:
    tags: true
    all_branches: true
