#material .mdl-card__supporting-text{
  width: initial
}
.mdl-layout__header .mdl-textfield__label:after{
  background-color: red !important;
}


.alternative-list{
  .mdl-list{
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .mdl-list__item{
    height: auto;
  }

  .mdl-list__item-primary-content{
    height: auto !important;
    a{
      display: inline-block;
    }
  }

  .mdl-list__item-text-body{
    height: auto !important;
  }
}

.coverinfo{
  .mdl-chip{
    height: auto;
    .mdl-chip__text{
      white-space: normal;
      line-height: 24px;
    }
  }
}

.mdl-layout__content::-webkit-scrollbar{
  width: 10px !important;
  background-color: #F5F5F5;
}
.mdl-layout__content::-webkit-scrollbar-thumb{
  background-color: #c1c1c1 !important;
}
.simplebar-track{
  width: 10px !important;
  background-color: #F5F5F5;
}
.simplebar-scrollbar{
  background-color: #c1c1c1 !important;
}
.simplebar-track.horizontal{
  display: none;
}

.simplebar-scrollbar{
  transition: height 100ms;
  border-radius: 0px !important;
  right: 0 !important;
  width: 100% !important;
  opacity: 1 !important;
}
.simplebar-scrollbar.visible:before{
  display: none;
}
.simplebar-content{
  margin-right: -7px !important;
}
.simplebar-track{
  margin-top: -2px;
  margin-bottom: -2px;
}
a{
  text-decoration: none;
}
.mdl-layout__tab-panel a:hover{
  text-decoration: underline;
}
.mdl-cell{
  background-color: #fefefe;
}

#material.simple-header .mdl-layout__header .mdl-layout__tab-bar-container{
  display: none;
}

.newEp {
  position: absolute;
  background-color: #dedede;
  height: 25px;
  width: 29px;
  top: 3px;
  right: -4px;
  background-repeat: no-repeat;
  background-position: 4px 3px;
  background-image: url(https://github.com/google/material-design-icons/blob/master/social/1x_web/ic_notifications_none_black_18dp.png?raw=true);
}

.searchItem{
  text-decoration: none !important;
  color: black;
}

#material{
  &.settings-only, &.pop-over{
    .mdl-layout__header .mdl-layout__tab-bar-container{
      display: none;
    }
    .mdl-layout__tab-panel{
      display: none !important;
    }
  }
  &.settings-only{
    #fixed-tab-5.mdl-layout__tab-panel{
      display: block !important;
    }
  }
  &.pop-over{
    #fixed-tab-5.mdl-layout__tab-panel{
      display: none !important;
    }
    #fixed-tab-4.mdl-layout__tab-panel{
      display: block !important;
    }
  }
}

#Mal-Sync-Popup{
  #material-fullscreen{
    display: none !important;
  }

  .settings-only{
    #book.open{
      .bookIcon{
        display: none;
      }
      .settingsIcon{
        display: block !important;
      }
    }
  }
}

#material{
  a.button_edit {
    text-decoration: none;
    background-color: #efefef;
    border-bottom: 1px solid #ebebeb;
    font-size: 10px;
    line-height: 1.0em;
    margin: 0;
    opacity: 1;
    padding: 2px 4px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    display: inline-block;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    height: 9px;

    &.reading, &.watching {
      background-color: #2db039;
      color: #fff
    }

    &.reading:hover, &.watching:hover {
      opacity: .7
    }

    &.plantoread, &.plantowatch,{
      background-color: #c3c3c3;
      color: #fff
    }

    &.plantoread:hover, &.plantowatch:hover{
      opacity: .7
    }

    &.completed{
      background-color: #26448f;
      color: #fff
    }

    &.completed:hover{
      opacity: .7
    }

    &.on-hold{
      background-color: #f1c83e;
      color: #fff
    }

    &.dropped,{
      background-color: #a12f31;
      color: #fff
    }

    &.dropped:hover{
      opacity: .7
    }

  }


  #contributer{
    padding: 15px;
    padding-bottom: 0;

    .group{
      display: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 0px;
      font-weight: bold;
      color: #707070;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
    }

    .user{
      height: 40px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;

      .image{
        position: relative;
        vertical-align: middle!important;
        display: inline-block;
        height: 32px;
        width: 32px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #e0e0e0;

        .gif{
          position: absolute;
          display:none;
        }
      }

      .text{
        vertical-align: middle!important;
        display: none;
        line-height: 100%;
      }

      &.pop .image{
        background-color: #3f51b5;
      }
    }

    .discord{
      display: none;
    }
  }

  #contributer.open{
    padding-bottom: 15px;
    //background-color: #2f3136;
    .group{
      opacity: 1;
      display: block;
    }
    .user{
      display: block;
      .image{
        .gif{
          display: block;
        }
      }
      .text{
        display: inline-block;
      }
      &.pop{
        display: none;
      }
    }

    .discord{
      display: block;
    }
  }

}
