@import './../pages';

// bs.to uses a light theme
@boxBackground: #00000014;
@boxOptionsBackground: #ffffff;
@boxOptionsFontColor: #000000;

@highlightStyle: 2;
@activeEp: #b2d1ff !important;

#malp {
  input {
    display: inline;
    min-width: auto;
    border-radius: 0;
  }
}
