@import './../pages';

@boxBackground: var(--bg3);
@boxFontColor: var(--text);
@boxLabelFontColor: var(--text2);
@boxOptionsBackground: var(--bg3);
@boxOptionsFontColor: var(--text);
@boxBorderRadius: var(--radius);

@highlightStyle: 2;
@activeEp: var(--accent);

#malp {
  color: var(--text);
  margin: 0 0 24px;
}

.mal-sync-active {
  border-color: var(--accent) !important;

  * {
    color: white !important;
  }
}
