@import './../pages';

@boxBackground: var(--bs-tertiary-bg);
@boxFontColor: var(--bs-body-color);
@boxLabelFontColor: var(--bs-secondary-color);
@boxOptionsBackground: var(--bs-body-bg);
@boxOptionsFontColor: var(--bs-body-color);

@highlightStyle: 1;
@activeEp: var(--bs-primary);

#malp {
  margin: 0 0 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--bs-border-color-translucent);
}
