@import './../pages';

@textColor: inherit;

.miniMAL-Fullscreen,
.miniMAL-hide {
  .open-info-popup.floatbutton,
  #flashinfo-div,
  #flash-div-bottom,
  #flash-div-top {
    display: none !important;
  }
}

#malp {
  min-height: 48px;
  margin-top: 0;

  .boxStyle(#00000059);
}
