@import './../pages';

@activeEp: var(--bs-primary) !important;
@boxBackground: #191826;
@highlightStyle: 1;
@boxBackground: #201f31;
@boxOptionsFontColor: #fff;
@boxHighlightBackground: #86e3ce;
@boxHighlightFontColor: #000;

#malp {
  margin-bottom: 20px;
  #MalData {
    .malp-group-field:hover:not(.malp-mal-add),
    .malp-group-value-section:focus-within,
    .malp-group-value-section:hover {
      color: #86e3ce !important;
      .malp-group-input,
      .malp-group-value {
        color: #86e3ce !important;
      }
    }
  }
}

// canceling out the css preset site use for its malsync ui
#MalData,
#MalData > span,
#malStatus,
#malUserRating,
#AddMalDiv {
  all: revert;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  background: none !important;
  float: none !important;
}
