@import './../pages';

@activeEp: var(--bs-primary) !important;
@boxBackground: #1e1e1e80;
@highlightStyle: 1;

/*
fixing bad ui. Take a look at styles.min.css in style editor inspect element. that is what causing it. It has its own style.
You can remove all below this then if it too messy. I just copy paste from that style.min.css and replace it with 0 value
*/
