@import './../pages';

@highlightStyle: 1;
@boxBackground: #2d2d2d;
@activeEp: #285078;

#malp {
  margin-bottom: 10px;
  #MalData {
    option {
      background-color: #373737 !important;
    }
    .malp-group {
      .malp-group-field:hover,
      .malp-group-value-section:hover {
        background-color: #373737 !important;
      }
    }
  }
}

.mal-sync-active:hover {
  border-left: 5px solid var(--tw-ring-color);
}
