@textColor: black;
@activeEp: #002966;

#malStatus, #malTotal, #malEpisodes, #malUserRating, #malRating, #malVolumes, #malTotalVol, #malTotalCha, #AddMal{
  color: @textColor;
}

.mal-sync-active{
  background-color: @activeEp;
}
