@import './../pages';

@textColor: white;

#malp {
  padding-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#MalData {
  align-items: baseline;
}

#malp select option {
  color: white !important;
  background-color: black !important;
}
@activeEp: #f93822;
.mal-sync-active {
  border: 2px solid @activeEp !important;
}
