@import './../pages';

@boxBackground: #000000cc;
@boxFontColor: #ffffff;
@boxOptionsBackground: #202020;
@boxOptionsFontColor: #ffffff;
@boxHighlightBackground: #00a3ff33;
@activeEp: #00a3ff33;

#malp {
  margin-top: 12px;
  pointer-events: auto;
  position: relative;
  z-index: 2;
}

#flashinfo-div,
#flash-div-bottom,
#flash-div-top {
  z-index: 2147483647 !important;
}
