@import './../pages';

@boxBackground: color-mix(in oklab, var(--color-zinc-800) 30%, transparent);
@boxOptionsBackground: black;

@boxHighlightBackground: var(--primary);
@boxHighlightFontColor: black;
