@import './../pages';

div#app.dark-theme {
  a,
  span,
  input,
  select {
    color: white !important;
  }
  #malp select option {
    color: white !important;
    background-color: black !important;
  }
}
div#app.light-theme {
  select option {
    color: black !important;
    background-color: white !important;
  }
}

#malp {
  margin: 20px;
}
