@import './../pages';

@boxBackground: rgba(255, 255, 255, 0.08);
@boxFontColor: white;
@boxHighlightBackground: ForestGreen;
@boxHighlightFontColor: white;
@boxOptionsBackground: black;
@boxGap: 5px;

#malp {
  margin-top: 10px;
}
