@import './../pages';
@textColor: #8d6dc4;

#malp {
  border-top: 1px solid #bcbcbc;
  margin-top: 0.5rem;
  padding: 1rem 0;
  #MalData {
    span {
      display: block;
      .malp-group-value-section {
        display: flex !important;
      }
    }
  }
}
#AddMalDiv {
  position: absolute;
  top: 0;
  right: 0;
}

#malStatus,
#malUserRating {
  color: #333;
  background-color: #fff !important;
  border-color: #ccc;
  margin-bottom: 0;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  option {
    color: #333;
    background-color: #fff !important;
  }
}

.mal-sync-active {
  box-shadow: inset 10.75rem 0 0 -10rem #f0d27c;
}
