@import './../pages';

@textColor: white;

#malStatus,
#malUserRating {
  display: inline-block !important;
}

#malUserRating {
  margin-left: 3px !important;
}

#malp {
  margin-left: 10px;
  margin-right: 10px;
  #MalData > span {
    white-space: nowrap;
  }
}

.flash select {
  display: block;
  margin-top: 5px;
}
