@import './../pages';

@activeEp: transparent;

#flashinfo-div {
  z-index: 100 !important;
}

#malp select,
#malp malp-group-value-section {
  margin-top: -2px !important;
}

#malp,
#malp select,
#malp option,
#malp a,
#malp p,
#malp input,
#malp span {
  color: white !important;
  background-color: #303132 !important;
  font: inherit;
  display: block;
  font-weight: lighter;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: justify;
  hyphens: auto;
}

#malp #malVolumes,
#malp #malEpisodes,
#malp span {
  float: none;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  margin-top: 0;
  font: inherit;
}

.mal-sync-active div:has(img) {
  outline: 3px solid #0095ff;
}
