@import './../pages';

@textColor: inherit;

.mal-sync-active {
  border-left: 4px solid #1766dc !important;
}

@activeEp: inherit;

#malp {
  margin: 0;
  margin-top: 1rem;
  padding: 15px;
  background-color: #010101;
  border-radius: 5px;
  .malp-group-field,
  #AddMal {
    font-weight: bold;
  }
}

.w2g-watch #malp {
  background-color: #1c1c1c;
}
