@import './../pages';

@textColor: black;
@activeEp: #98cff0;

#malthing {
  background-color: white;
  float: left;
  margin-top: 10px;
  width: calc(100% - 20px);
  padding: 10px;
}

#MalData > span > span.info {
  color: black !important;
}

#malp select option {
  color: black !important;
  background-color: white !important;
}
