@import './../pages';

@textColor: #d0d0d0;
@activeEp: #204279;

#malthing {
  background-color: #3e3e3e;
  float: left;
  margin-top: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  color: #d0d0d0;
}

#MalData > span > span.info {
  color: #d65959 !important;
}

#malp select option {
  color: #d0d0d0 !important;
  background-color: #3e3e3e !important;
}
