@import './../pages';

@activeEp: #4e8c7d !important;
@highlightStyle: 1;
@boxBackground: #4e8c7d;

#malp {
  padding-bottom: 15px;
  font-size: 16px;
  #MalData {
    .malp-group-label {
      font-weight: 500;
      color: #333333 !important;
    }
    .malp-group {
      .malp-group-field,
      .malp-group-value-section {
        font-weight: 500;
        color: white !important;
      }
    }
  }
  #malEpisodes,
  #malVolumes {
    border-color: white;
  }
}
