@import './../pages';

@boxBackground: rgb(10 10 20 / var(--tw-bg-opacity, 1));

@highlightStyle: 0;
@activeEp: rgb(6 182 212 / var(--tw-bg-opacity, 1));

#malp {
  margin-bottom: 1rem;
  width: 100%;
}

.mal-sync-active > a {
  outline: 3px solid @activeEp;
  border-radius: 0.75rem;
}
