* {
  font-family: 'Open Sans', sans-serif;
}
table {
  widows: 100%;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -60px 0 0 -60px;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #411835;
  background-image: url(lain.png);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader2-div{
  -ms-transform: rotate(217deg) scale(0.5);
      transform: rotateZ(217deg) scale(0.5);
  -webkit-transform: rotateZ(217deg) scale(0.5);
  margin-left: -31px;
  margin-top: -22px;
  margin-bottom: -28px;
  border: 10px solid white;
  border-radius: 50%;
}
.loader2 {
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  background-color: #411835;
  background-image: url(lain.png);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.loader2:hover{
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
#sidebar,
#sidebar-inner {
  background-color: #191818;
  height: 100%;
  width: 100px;
  float: left;
}
#sidebar-inner {
  position: fixed;
}
#content {
  width: auto;
  overflow: hidden;
}
#content .page {
  padding-top: 20px;
  padding-bottom: 20px;
}
#content > * {
  position: relative;
}

body{
  padding-right: 40px;
}

#contributer{
  width: 50px;
  height: 100%;
  float: right;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  overflow: hidden;
  position: relative;

  position: fixed;
  right: 0;
  z-index: 300;
}
  #contributer.hover:hover{
    width: 250px;
  }
  #contributer .contributer-inner{
    position: fixed;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 10px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
  }
  #contributer.hover:hover .contributer-inner{
    background-color: #2f3136;
  }
  #contributer .group{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: #707070;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }
  #contributer.hover:hover .group{
    opacity: 1;
    max-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding: 10px;
  }
  #contributer .user{
    padding: 5px 10px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
  }
  #contributer .user .image{
    position: relative;
    display: inline-block;
    height: 32px;
    widows: 32px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  #contributer .user .image img{
    height: 100%;
    widows: 100%;
  }
  #contributer .user .image .gif{
    position: absolute;
    display: none;
  }
  #contributer.hover:hover .user .image .gif{
    display: block;
  }
  #contributer .user .text{
    display: inline-block;
    width: 190px;
    line-height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
  #contributer.hover:hover .user .text{
    opacity: 1;
  }
  #contributer .user .text .name{
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
  }
  #contributer .user .text .subtext{
    color: #b9bbbe;
    font-size: 12px;
  }

img.lain.lazyload {
  background: -webkit-gradient(linear, left top, left bottom, from(#032e45), to(#9b7c91));
  background: -webkit-linear-gradient(top, #032e45 0%, #9b7c91 100%);
  background: -o-linear-gradient(top, #032e45 0%, #9b7c91 100%);
  background: linear-gradient(to bottom, #032e45 0%, #9b7c91 100%);
}
.mobile-nav .navbar-toggler {
  padding: 1px 6px;
  border-radius: 0px;
  border: none;
}
.mobile-nav {
  height: 0px;
  -webkit-filter: invert(100);
  filter: invert(100);
  background-color: rgba(0, 0, 0, 0.075);
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.center-wrap {
  height: 100% !important;
}
@media (max-width: 991px) {
  #contributer{
    display: none;
  }
  body{
    padding-right: 0px;
  }
  .mobile-nav.allow {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 34px !important;
  }
  .center-wrap {
    margin-top: -34px;
  }
  #sidebar {
    z-index: 20;
    position: relative;
    width: 0px;
  }
  #sidebar-inner {
    width: 0px;
    overflow: hidden;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
  }
  #sidebar-inner.open {
    width: 100px;
  }
  #sidebar-inner.open::after {
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
  }
}
.predictionEnd {
  color: #ffc65f !important;
  font-weight: bold;
}
.late {
  color: #ff4c4c !important;
  font-weight: bold;
}
.animeList {
  position: relative;
  min-height: 100%;
}
.animeList::before {
  content: '';
  background-color: black;
  background-color: #0000001f;
  border: 1px solid #ffffff1f;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.animeList .weekday {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.animeList .weekday h5 {
  margin-bottom: 3px;
}
.animeList .event {
  width: 310px;
  margin: 20px 0;
}
.animeList .event .scheduleLeft {
  color: white;
  width: 70px;
  padding: 5px;
}
.animeList .event .scheduleRight {
  position: relative;
  padding-left: 15px;
}
.animeList .event .scheduleRight::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 8px;
  border-top: 10px solid transparent;
  border-right: 15px solid white;
  border-bottom: 10px solid transparent;
}
.animeList .event .scheduleRight .card {
  width: 225px;
  height: 310px;
  position: relative;
  overflow: hidden;
}
.animeList .event .scheduleRight .card .overlayTop {
  position: absolute;
  padding: 5px 15px;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.44);
}
.animeList .event .scheduleRight .card .overlayTop .episode {
  float: right;
}
.animeList .event .scheduleRight .card .overlayBottom {
  position: absolute;
  padding: 5px 15px;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.44);
}
#details * {
  color: white;
}
.page > p {
  color: white;
}
img.lazyload {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  /*-webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -o-transition: 0.3s -o-filter linear;
  transition: 0.3s filter linear;*/
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transform-style: preserve-3d;
  transform: translateZ(0);
}
img.lazyload:not(.loaded) {
  -webkit-filter: blur(7px) saturate(250%);
  -moz-filter: blur(7px) saturate(250%);
  -o-filter: blur(7px) saturate(250%);
  -ms-filter: blur(7px) saturate(250%);
  filter: blur(7px) saturate(250%);
}
@media only screen and (max-device-width: 600px) {
  img.lazyload {
    -webkit-transition: 0s -webkit-filter linear;
    -o-transition: 0s -o-filter linear;
    -webkit-transition: 0.0s -webkit-filter linear;
    transition: 0.0s -webkit-filter linear;
    -o-transition: 0.0s filter linear;
    transition: 0.0s filter linear;
    transition: 0.0s filter linear, 0.0s -webkit-filter linear;
  }
}

.card{
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.46);
}

.card a{
  color: white;
}

.card .list-group-item a{
  text-decoration: underline;
}

.card .card-header{
  padding: 7px 5px;
}

.card, .card .list-group-item{
  background-color: black;
  background-color: #0000001f;
  color: white;
  padding: 5;
}

.card .list-group-item{
  background-color: #00000059;
  margin-bottom: 0;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

#changelog-content .badge{
  opacity: 0.4;
}

#changelog-content .card:hover .badge, #changelog-content .card.border-light .badge{
  opacity: 1;
}
