@import './../pages';

@textColor: inherit;
@activeEp: var(--bs-primary);
@inputBackground: var(--bs-body-bg);

.mal-sync-active {
  background-color: var(--bs-primary) !important;

  * {
    color: white !important;
  }
}

#malp {
  margin: 0;
}

// Using breakpoint from overview image
@media only screen and (max-width: 768px) {
  #MalData {
    flex-direction: column;
  }
}
