@import './../pages';

#malp {
  margin: 10px;
}

#MalData {
  justify-content: space-evenly !important;
}

#malStatus,
#malTotal,
#malEpisodes,
#malUserRating,
#malRating,
#malVolumes,
#malTotalVol,
#malTotalCha,
#AddMal {
  color: white;
}

#malp select option {
  color: white !important;
  background-color: #222325 !important;
}

@activeEp: transparent !important;

.mal-sync-active {
  box-shadow: 0 5px 0 #0183b5;
}
