@import "./../pages";

#malp {
margin:10px;
}

#malStatus, #malUserRating, #malEpisodes, #malTotal, #malRating {
color: white;
}

#malp select option {
  color: white !important;
  background-color: #222325 !important;
}

@activeEp:#98cff0;
