@import './../pages';

section.main .content-wrapper .theatre .theatre-info {
  margin-bottom: 1rem;
  height: unset !important;
}

#flashinfo-div {
  z-index: 99999 !important;
}

#malp,
#malTotal,
#AddMalDiv,
#AddMal {
  color: #999 !important;
}

#malStatus,
#malUserRating,
#malEpisodes {
  background: transparent !important;
  color: #d5015b !important;
  option {
    background: black !important;
    color: #d5015b !important;
  }
}

#malRating {
  color: #d5015b !important;
}

.mal-sync-active .episode-label-wrap {
  background-color: #002966ba;
}

#malp {
  .anime-content & {
    /* same as .tab-content */
    margin-left: 235px;

    @media (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 0;
      padding: 0 15px;
    }
  }

  .theatre-info & {
    margin-bottom: 0;
  }
}
