@import './../pages';

@activeEp: #f973161a;
@boxBackground: #27272acc;
#malp {
  margin-top: 10px;
  padding-top: 10px;
  .malp-group-label {
    color: #e4e4e7;
  }
  #malRating {
    color: hsl(var(--twc-orange-400) / var(--twc-orange-400-opacity, var(--tw-text-opacity)));
  }
  .malp-group-value,
  #malStatus,
  #malUserRating,
  #malEpisodes,
  #malVolumes,
  #malEpisodes {
    color: #d4d4d8;
  }
}
