@import "./../pages";

@boxHighlightBackground: var(--primary);  
@boxHighlightFontColor: #000;

#AddMal {
    font-weight: bold !important;
}

.malp-group-field, .malp-group-value, .info.malp-group-label {
    font-size: 13px !important;
}