@import "./../pages";

@boxHighlightBackground: var(--primary);  
@boxHighlightFontColor: #000;

#AddMal {
    font-weight: bold !important;
}

.malp-group-field, .malp-group-value, .info.malp-group-label {
    font-size: 13px !important;
}

.malp-group {
    background: rgba(255, 255, 255, 0.04) !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    border-radius: 10px !important;
    padding: 7px 12px !important;
}