@import './../pages';

#malp {
  border-radius: 10px;
  background-color: #50a1e5;
  padding: 15px 0;
  justify-self: center;
  width: 100%;
  overflow: hidden;
  height: min-content;
  max-height: 100px;
}

#malp,
#malp * {
  transition:
    all 0.3s ease-in-out 1.2s allow-discrete,
    height 0.7s ease-in-out 1s,
    font-size 0.7s ease-in-out 1s,
    width 1s ease-in-out 1s !important;
  transition-behavior: allow-discrete;
  opacity: 1;
}

@starting-style {
  #malp,
  #malp * {
    opacity: 0;
    font-size: 0px;
  }

  #malp {
    height: 0px;
    width: 0px;
  }
}

#malp a,
#malp p,
#malp span,
#malStatus,
#malTotal,
#malEpisodes,
#malUserRating,
#malRating,
#AddMal {
  color: white !important;
}

#malp span:not(#MalInfo) {
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.mal-sync-active > div {
  border: 4px solid #027bff !important;
  box-shadow: #027bff 0 0 12px 0px !important;
}
