name: "autoUrls"

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**/meta.json'
      - '**/playerUrls.js'
jobs:
  main:
    name: main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        ref: master
        persist-credentials: false

    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
      with:
        node-version: '22.x'

    - name: Build
      run: npm install

    - name: Run
      run: npm run build:autoUrls
      env:
        CI_MODE: travis
        SIMKL_API_ID: ${{ secrets.SIMKL_API_ID }}
        SIMKL_API_SECRET: ${{ secrets.SIMKL_API_SECRET }}

    - name: Lint Fix
      run: npm run build:chibiTypes && npm run lint:fix

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
      with:
        commit-message: Auto Urls
        branch: auto-urls
        delete-branch: true
        title: 'Auto Urls'
        body: 'Automatically added Urls'
