name: Auto URLs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm ci
      - id: set-matrix
        run: |
          TASKS=$(node webpackConfig/autoUrls.mjs --list)
          echo "matrix=$TASKS" >> $GITHUB_OUTPUT

  update-urls:
    needs: prepare-matrix
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        task: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm ci
      - name: Run ${{ matrix.task }}
        run: node webpackConfig/autoUrls.mjs ${{ matrix.task }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'Auto Urls: ${{ matrix.task }}'
          branch: 'auto-urls-${{ matrix.task }}'
          delete-branch: true
          title: 'Auto Urls: ${{ matrix.task }}'
          body: 'Automatically added Urls for ${{ matrix.task }}'
          labels: 'auto-urls'
