name: "descriptions"

on:
  schedule:
    - cron: '0 10 * * 0'
  workflow_dispatch:
jobs:
  main:
    name: main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        ref: master
        persist-credentials: false

    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: '22.x'

    - name: Build
      run: |
        npm ci
        npm run build:chibiTypes
      env:
        PUPPETEER_SKIP_DOWNLOAD: 'true'

    - name: Run
      run: npm run build:descriptions
      env:
        CI_MODE: travis
        SIMKL_API_ID: ${{ secrets.SIMKL_API_ID }}
        SIMKL_API_SECRET: ${{ secrets.SIMKL_API_SECRET }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
      with:
        commit-message: Update descriptions
        branch: auto-descriptions
        delete-branch: true
        title: 'Update descriptions'
        body: 'Automatically updated Description'
