name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: read
  deployments: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy-cf:
    runs-on: ubuntu-latest
    name: cloudflare-pages
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: '22.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
        env:
          PUPPETEER_SKIP_DOWNLOAD: 'true'

      - name: Build webextension
        run: npm run build:webextension

      - name: Create organized directory structure
        run: |
          mkdir -p ./pages-deploy/config
          cp -r ./dist/webextension/chibi/* ./pages-deploy/config/
          cp .github/pages-files/_headers ./pages-deploy/
      - name: Deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_PAGES_ACCOUNT_ID }}
          command: pages deploy pages-deploy --project-name=chibi
          # Optional: Enable this if you want to have GitHub Deployments triggered
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
