name: Tests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
      with:
        node-version: '22.x'
        cache: 'npm'
    - name: install
      run: |
        npm ci
      env:
        PUPPETEER_SKIP_DOWNLOAD: 'true'
    - name: Build
      run: |
        npm run build
      env:
        CI_MODE: travis
        SIMKL_API_ID: test-placeholder
        SIMKL_API_SECRET: test-placeholder
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
      with:
        node-version: '22.x'
        cache: 'npm'
    - name: install
      run: |
        npm ci
        npm run build:chibiTypes
      env:
        PUPPETEER_SKIP_DOWNLOAD: 'true'
    - name: Lint
      run: |
        npm run lint:ci
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
      with:
        node-version: '22.x'
        cache: 'npm'
    - name: install
      run: |
        npm ci
      env:
        PUPPETEER_SKIP_DOWNLOAD: 'true'
    - name: Build
      run: |
        npm run build:webextension:assets
        npm run build:chibiTypes
        npm run build:webextension:content:build
      env:
        CI_MODE: travis
        SIMKL_API_ID: test-placeholder
        SIMKL_API_SECRET: test-placeholder
    - name: Tests
      run: |
        npm run test:ts:ci
      env:
        NO_API: true
